div {
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0.625em;
    background-color: #ffebb5;
  }
  p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0.625em;
    background-color: #ffebb5;
  }
  
  h1,
  h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0.625em;
  }
  .each {
    background-color: #b3fffa;
    padding: 0.625em;
    margin: 0.93em;
  }
  .plantDetails {
    text-align: left;
  }
  .collapsible {
    background-color: #73fac8;
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 94%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    margin: 0.5em;
  }
  .active,
  .collapsible:hover {
    background-color: #51ad8c;
  }
  .content {
    padding: 0 1.125em;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .collapsible:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 0.8125em;
    color: white;
    float: right;
    margin-left: 0.3125em;
  }
  
  button {
    background-color: #6ad4ae;
    color: #444;
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
    border-radius: 2em;
    border: none;
  }
  
  button:hover {
    background-color: #51ad8c;
  }
  
  a {
    text-decoration: none;
    color: #444;
  }
  
  #formButton {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 0.5em;
    font-size: 1em;
  }
  
  #formButton:hover {
    background-color: #51ad8c;
  }
  
  form {
    padding: 0.625em;
    background-color: #ffebb5;
  }
  